.result {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  &__weather-chart {
    width: 800px;
  }
  .detail-container {
    text-align: center;
    width: 250px;
    height: 293px;
    background: #ffffff;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    &__temp {
      font-size: 40px;
      line-height: 49px;
      color: #77b6ea;
    }
    &__city-name {
      font-size: 28px;
      line-height: 34px;
    }
    &__date {
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
    }
    &__forecast {
      margin-top: 3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &__img {
        height: 50px;
      }
      &__condition {
        font-size: 14px;
        margin-left: 0.5rem;
      }
    }
  }
}
@media (max-width: 1100px) {
  .result {
    flex-direction: column;
    padding-bottom: 2rem;
    &__weather-chart {
      margin-bottom: 2rem;
    }
  }
}
@media (max-width: 800px) {
  .result {
    margin: 0 1rem;
    &__weather-chart {
      width: 100%;
    }
    .detail-container {
      width: 200px;
      height: 250px;
      border-radius: 30px;
      &__temp {
        font-size: 28px;
      }
      &__city-name {
        font-size: 22px;
      }
      &__forecast {
        margin-top: 1rem;
        &__img {
          height: 40px;
        }
        &__condition {
          font-size: 14px;
        }
      }
    }
  }
}
